.menu{
  @include backg('../img/menu/menu-bckg.jpg');
  position: relative;
}

// .menu-acco__content{
  
// }

// .menu-acco__content{
//   width: 600px;
//   height: 100%;
//   background: grey;
// }

// .menu__content{
//   display: flex;
//   height: 100%;
// }

// .menu-container{
//   position: absolute;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   width: 30%;
// }

// .menu-acco{
//   display: flex;
//   flex: 1;

//   .menu-acco__item{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex: 1;
    
//   }

// }

// .menu-acco__trigger{
//   text-decoration: none;
//   transform: rotate(-90deg);
//   @include gagalin;
//   font-size: 40px;
//   color: #fff;
// }

.menu-list{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  display: flex;
}

.menu-list__item{
  display: flex;
  height: 100%;
}

.menu-list__trigger{
  background: grey;
  position: relative;
  height: 100%;
  width: rem(80px);
  position: relative;
  background-size: cover;
  
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(#141414, .7);
  }

  .menu-title{
    position: absolute;
    // top: 50%;
    bottom: rem(-15px);
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    left: rem(12px);
    font-size: rem(40px);
    @include gagalin();
    color: #fff;
  }
}

.menu__container{
  width: 0px;
  overflow: hidden;
  background: rgba(#141414, .7);
  transition: 1s;
  

 
  .menu__container-desc{
    padding: rem(60px) rem(30px);
    opacity: 0;
    

  }
}

.menu-list__item-active{
  .menu__container{
    width: rem(540px);
    
  
  .menu__container-desc{
   opacity: 1;
   transition-delay: 1s;
  }
    
    
    @include tablets{
      width: 100%;
    }
    
  }
  .menu-title{
    color: $yellow;
  }
}