// .slider-menu{
//   background: linear-gradient(to bottom, #f9b43b 0%,#eb8c38 50%,#eb8c38 51%,#f9b43b 100%);
// }




// .slider-block{
//   display: flex;
//   align-items: center;
//   position: relative;
//   flex: 1;

//   @include tablets{
//     flex-direction: column;
//     text-align: center;
//   }

//   .slider-block__pic{
//     position: relative;
   
//     @include tablets{
    
//       display: flex;
//       justify-content: center;
//       margin-bottom: rem(30px);
//     }
   
    
    
    
//   }


//   .slider-block__pic-img{
//     display: block;
//     max-width: 100%;
//   }


// .burger-compos{
//       position: relative;
//       width: rem(90px);
//       height: rem(90px);
//       border-radius: rem(5px);
//       background: #f08c33;
//       display: flex;
//       cursor: pointer;
//       @include gagalin;
//       font-size: rem(14px);
//       color: #fff;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       position: absolute;
//       top: rem(-81px);
//       left: rem(10px);

//       @include tablets{
//         top: rem(-74px);
//         left: rem(131px);
//       }
//       @include phones{
//         left: rem(10px);
//       }
      
//       &:hover{
//         .dropdawn{
//           left: rem(91px);
//           opacity: 1;
//         }
//       }

      
      
//       .burger-compos__icon{
//             width: rem(42px);
//             height: rem(42px);
//             fill: #fff;
//         }
      
//     }


// .dropdawn{
//         position: absolute;
//         width: rem(271px);
//         background: rgba(#fff, .9);
//         border-radius: rem(5px);
//         color: $black;
//         top: 0;
//         left: rem(-9999px);
//         opacity: 0;
//         transition: opacity 1s;
//         .table{
//           width: 100%;
//         }
//         .table-icon{
//           text-align: center;
//         }
//         .table-icon__pic{
//           width: rem(38px);
//           height: rem(38px);
//         }

        
//       }








// .block-kkal{
//   color: #fff;
//   display: flex;
//   position: absolute;
//   align-items: center;
//   flex-direction: column;
//   font-size: rem(14px);
//   left: rem(10px);
//   height: rem(75px);
//   width: rem(66px);
//   bottom: rem(-87px);
//   @include gagalin;

//   @include tablets{
//     top: rem(-75px);
//     left: 72%;
//   }
//   @include phones{
//     left: 84%;
//   }

//   &:before{
//     content: '1200';
//     position: absolute;
//     display: block;
//     top: 13%;
//     left: 0%;
//     font-size: rem(20px);
//     transform: translate(50%, 50%);
//   }

  

// }


// }


// .burger-compos__icon-kkal{
//     width: rem(60px);
//     height: rem(60px);
//     fill: #fff;
//   }





// .slider-block__desc{
   
//     margin-bottom: rem(-9px);
//     padding-left: rem(20px);
    

    
    
    
//   }











// .slider-block__desc-price{
//       display: flex;
//       margin-top: rem(24px);

//       @include tablets{
//         justify-content: center;
//       }
// }





// .slider-block__desc-text{
//       color: #fff;
//       font-size: rem(14px);
// }



// .block-price{
//       display: flex;
//       @include gagalin();
//       color: $orange;
      
      
//     }

// .slider-price__title{
//   margin-bottom: rem(9px);
//   font-size: rem(71px);
// }


// .slider-price__rub{
//   font-size: 29px;
//   margin-left: -15px;
// }












// .arrow-left{
//   position: absolute;
//   left: -2%;
//   @include tablets{
//     left: 5%;
//     top: 44%;
//   }

// }
// .arrow-right{
//   position: absolute;
//   right: -5%;
//   @include tablets{
//     right: 5%;
//     top: 44%;
//   }

// }



.burger {
  background-image: repeating-linear-gradient(to bottom,rgb(248, 177, 59) 0%,rgb(248, 177, 59) 20.4%,rgb(235, 141, 56) 48.5%,rgb(235, 141, 56) 59%,rgb(248, 177, 59) 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}








.burger-content{
  display: flex;
  align-items: center;
  position: relative;
  // flex: .8;
  @include tablets{
    flex-direction: column;
  }
}

.burgers__corusel-item{
  display: flex;
  position: relative;
  padding-bottom: 50px;
  @include tablets{
    flex-direction: column;
  }
}

.burger-content__pic{
  flex: 1;
  display: flex;
  justify-content: center;
  @include phones{
    width: 100%;
  }
}
.burger__info{
  flex: 1;
  @include tablets{
    padding: 0 105px;
    width: 100%;
    text-align: center;
  }
  @include phones{
    padding: 0 0;
  }

  .burger__options{
    @include tablets{
      text-align: center;
    }

    .burger__price{
      display: inline-block;
      vertical-align: middle;
      color: $orange;
      @include gagalin();
      .burger__price-amount{
       font-size: 50px;
       display: inline-block;
      }
      .burger__price-rubles{
        font-size: 28px;
        display: inline-block;
      }
    }
  }
}

.burger__pic{
  display: block;
  max-width: 100%;
  height: 297px;
  align-self: center;
 
  @include tablets{
    width: 50%;
  }
  @include phones{
    width: 70%;
    height: 240px;
  }
}

.block1{
  width: 40px;
  position: absolute;
  height: 40px;
  background: red;
  top: 0;
}

.block2{
  position: absolute;
  width: 40px;
  height: 40px;
  background: crimson;
  bottom: 0;
}
.arrow__trigger{
  width: 17px;
  height: 27px;
  position: absolute;
  
  @include tablets{
    display: none;
  }

  &_left{
    left: -16px;
    @include tablets{
      left: 0;
      top: 30%;
    }
  }

  &_right{
    right: -16px;
    @include tablets{
      top: 30%;
      right: 12px;
    }
  }
}





.burger__composition{
  position: absolute;
  cursor: pointer;
  color: #fff;
  width: 90px;
  background: rgba($orange, .8);
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  left: 0;
  top: 0;
  &:hover{
    .dropdawn{
      left: initial;
      opacity: 1;
    }
  }
}

.burger__comp-icon{
  width: 48px;
  height: 41px;
  fill: #fff;
  display: inline-block;
  @include tablets{
    top: -35px;
    right: 0;
  }
}
.burger__comp-desc{
  display: inline-block;
  @include gagalin();
}

.dropdawn{
  top: 0;
  left: -9999px;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  color: $black;
  width: 271px;
  border-radius: 5px;
  background: rgba(#fff, .9);
  padding: 8px 5px;
}

.table{
  width: 100%;
}
.table-icon__pic{
  width: 37px;
  height: 37px;
}


.burger__kkal{
  position: absolute;
  bottom: 0px;
  width: 66px;
  height: 82px;
  text-align: center;
  color: #f9d1a3;
  @include tablets{
    right: 20px;
    top: 0;
  }
}
.burger__kkal-title{
  display: inline-block;
  @include gagalin();
}

